* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: 
    linear-gradient(rgba(247,247,245,0.42), rgba(247,247,245,0.42)),
    url("./assets/bg2.png");
  background-size: flex;
  background-position: center;
  background-attachment: fixed;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100vh;
}
